body {
  font-family: sans-serif;
  font-size: 14pt;
  margin: 0px;
}

header {
  background-color: lightsteelblue
  padding: 50px;

  font-weight: bold;
  text-align: center;
  font-color: midnightblue
}

main {
  background-color: aliceblue
  padding: 75px;
}

h1 {
  font-family: serif
}

blockquote {
  background-color: lightgrey
}
 

footer {
  background-color: steelblue
  font-color: aliceblue
  padding: 30px;
  text-align: center;
}
