@font-face {
	font-family: "Montserrat";
	src: url("Montserrat/Montserrat-VariableFont_wght.ttf");
}

p {font-family: "Montserrat";
    }
ul {font-family: "Montserrat";
    }

header {
  background-color: lightskyblue;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  line-height: 1;
  color: ghostwhite;
}

nav {
  background:ghostwhite;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  text-align: center;
}

footer {
  background-color: lightskyblue;
  padding: 10px;
  text-align: center;
  color: ghostwhite;
}

body {
  background-color: aliceblue;
  font-size: 16pt;
  line-height: 1.5;
  padding: 100px;
  max-width:700px;
  margin:3em auto;
}

img {
  display: block;
  margin: auto;
  border-radius: 8px;
  max-width: 100%;
  border: 1px aliceblue;
}

.button1 {
    background-color: aliceblue;
    border-radius: 5px;
    padding: 10px;
    width: 500px;
}
.button2 {
    background-color: aliceblue;
    border-radius: 5px;
    padding: 10px;
    width: 500px;
}
.button3 {
    background-color: aliceblue;
    border-radius: 5px;
    padding: 10px;
    width: 500px;
}
